
*{
	font-family: 'Lato', sans-serif;
}

.img-responsive {
    margin: 0 auto;
}

/*Nav*/
.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

/*Header*/

.second-section{
	background-image: url(../img/bg-header.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.logosecond{
	margin: 0 auto;
    text-align: center;
    margin-top: 80px;
}

/*Third section*/
.thirdbox{
	text-align: center;
}

.titlethird{
	margin-top: 90px;
	font-weight: 900;
}

hr{
	width: 100px;
	border-style: double;
	border: 1px solid #C3B598;
	margin-bottom: -19px;
}

h4.subtitlethird{
	margin-top: 40px;
}


h3.titleingredients{
	font-weight: 900;
	margin-left: 30px;
}

ul{
	text-align: left;

}
.fa-3x{
	font-size: 36px;
	margin-top: 37px;
}
.description{
	margin-top: 20px;
}